.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282c34;
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav ul li {
    margin: 0 10px;
    position: relative;
  }
  
  .nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .nav ul li a:hover {
    text-decoration: underline;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .create-button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    align-items: center;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile span {
    margin-left: 10px;
  }
  

  .profile-image {
    width: 40px; /* Rasimning o'lchami */
    height: 40px; /* Rasimning balandligi */
    border-radius: 50%; /* Dairaning shakli - yuvarlak */
    margin-right: 10px; /* Rasim bilan matn o'rtasidagi masofa */
    /* transform: scale(1.2); */
  }
  